body {
    font-family: Comic Sans MS;
    margin: 0;
    padding: 0;
	color: #fff;
	background-color: #333;
}

header {
    background-color: #FF8C00;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.buy-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.buy-btn:hover {
    background-color: #45a049;
}

.product-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.product-details img {
    max-width: 400px;
    height: auto;
}

.product-details div {
    max-width: 400px;
    text-align: left;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
